.body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3{
  margin-top: 30px;
  color: #eaeaea;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  background-color: #292929;
}

.brand {
  margin-left: 15px !important;
}

.glyph {
  margin-right: 4px;
}

.background {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('./background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 50px);
}

.container_padding{
  padding-bottom: 100px;
}
